.form {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  border-top: 1px solid rgb(232, 232, 232);
  border-left: 1px solid rgb(232, 232, 232); 
}
input {
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5),
              inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}
button {
  border: 1px solid transparent;
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5),
              inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}
button:hover{
  border: 1px solid rgb(70, 70, 70);
}
input:focus{
  outline: none;
  border: none;
}
.icons{
  border: 1px solid #c3c3c3;
  color: salmon;
}
